h1 {
    animation: 1s important1;
    border: 1px solid #FFFFFF;
    font-family: "Arial, sans-serif";
    color: #FFFFFF;
    filter: blur(50px);
}h1 h2 {
    color: blue;
}h4 {
    color: green;
}@media screen and (max-width: 768px){
    h1 h2 {
        color: green;
    }h1 {
        color: red;
    }
    h4 {
        font-size: 14px;
    }
}@keyframes important1 {
	from {
		margin-top: 100px;
	}
	to {
		filter: blur(50px);
		color: red;
	}
}