.container h2 {
    color: #FFFFFF;
}

.container {
    padding: 20px;
}

h4 {
    width: 50%;
    color: green;
    animation: "3s hello";
}

.container h2 h4 {
    width: 50%;
    color: green;
}

@keyframes hello {
    0% {
        color: red;
        opacity: 0;
    }

    100% {
        color: orange;
    }

    10% {
        color: #FFFFFF;
        opacity: 1;
    }

}